.button_box{
    overflow: hidden;
    margin-bottom: 10px;

    .btn{
        float: right;
        // 给鼠标加一个小手
        cursor: pointer;
    }
}
.clearfix{
    clear: both;
}
.onesmallelementbox{
    padding-bottom: 16px;
    .onesmallelement{ 
        position: relative;
        float: left;
        padding: 3px 8px;
        border: 1px solid #000;
        border-radius: 4px;
        margin-right: 10px;
        margin-bottom: 10px;
        // 把鼠标变成八爪状
        cursor: move;

        &:hover b{
            display: block;
        }

        @w: 15px;
        b{
            box-sizing: border-box;
            position: absolute;
            width: @w;
            height: @w;
            border: 1px solid #000;
            background-color: #fff;
            border-radius: 50%;
            right: -@w/2;
            top: -@w/2;
            text-align: center;
            line-height: 12px;
            font-size: 15px;
            font-family: "consolas";
            cursor: pointer;
            display: none;

        }

    }
   
}
.alternative{
    margin-top: 10px;
    overflow: hidden;
}
.alternativeArr{
    margin-top: 10px;
    span{
       .onesmallelementbox  .onesmallelement();
       cursor: pointer;
    }
}

.mi_btn_box{
    display: flex;
    flex-direction: row-reverse;

    .cancelbtn{
        margin-left: 10px;
    }
}

.c_span{
    padding:2px 4px;
    border:1px solid #eee;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    &:hover{
        background: #eee;
    }

    &.cur{
        background:orange;
        color:white;
    }
}
.myrow{
    padding: 10px 0;
}
.tagsbox{
    padding: 10px 0;
}